.footerBar{
    height:20%;
    border:0.5px solid yellow;
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo{
    margin-left:2%;
    margin-top:0.5%;
    margin-bottom:0.5%

}

.logoImg{
    height:4rem;
    width:4rem;
}

.footerlinks{
    margin-right: 2%;  
    display:flex;
    flex: row;
    font-size: 1.2rem;
    align-items: center;
}

.links{
    list-style: none;
    text-decoration: none;
    color:lightcoral;
    margin: 0.5rem;
    font:1rem;
}

.links:hover{
    color:indianred
}

.title{
    color:indianred;
    font-family:cursive;
    font-weight:bolder;
    margin-top: 1%;
    font-size: larger;
}
